ACCESS_SECRET_KEY="SUPER_SECRET_KEY"  # python -c 'import secrets; print(secrets.token_hex(36))'
ACCESS_EXPIRE_MINUTES=30              # copy above remove # and print in terminal to generate secret key
ALGORITHM="HS256"

# change the value
DATABASE_USERNAME="username"
DATABASE_PASSWORD="password"

# change the username and password with what you changed above
DATABASE_URL="postgresql+asyncpg://username:password@db:5432/postgres_db"
