DATABASE_URL = "postgresql+asyncpg://username:password@localhost:5432/dbname"
POSTGRES_USER = "username"
POSTGRES_PASSWORD = "password"


SECRET_KEY = "SECRETKEY"
ALGORITHM = "HS256"
EXPIRE_MINUTES = 30

EMAIL_USER = "example@email.com" # optional, this will be use in app sending emails to users
EMAIL_PASS = "xxxx xxxx xxxx" # you will need to create app password in gmail 

# steps to create app password in gmail
# go to gmail
# manage gmail account
# search app password
# name one and generate
# paste it in email pass